<div class="container">
  <div class="border p-2">
    <button class="btn btn-md btn-outline-success" (click)="open(content)">
     ajouter un produit</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Nom </th>
      <th class="text-center">Quantité </th>
      <th class="text-center">Prix d'Achat</th>
      <th class="text-center">Prix de Vente </th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prodt of prods">
      <td class="text-center"><span>{{prodt.prodId}}</span></td>
      <td class="text-center"><span>{{prodt.prodNom}}</span></td>
      <td class="text-center"><span>{{prodt.quantite}}</span></td>
      <td class="text-center"><span>{{prodt.prixachat}}</span></td>
      <td class="text-center"><span>{{prodt.prixvente}}</span></td>
      <td class="text-center">
        <button class="btn btn-sm btn-info m-1" (click)="openDetails(contentDetails, prodt)">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning m-1" (click)="openEdit(contentEdit, prodt)">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger m-1" (click)="openDelete(contentDelete, prodt)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- add new friend -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nouveau Produit</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='prodForm' (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Nom </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prodNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Quantité </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'quantite'>
        </div>
      </div>
      <div class="form-group">
        <label>prix d'achat </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prixachat'>
        </div>
      </div>
      <div class="form-group">
        <label>prix de vente </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prixvente'>
        </div>
      </div>
      <div class="form-group">
        <label>Fournisseur </label>
        <select class="form-control" formControlName = 'fr'>
          <option *ngFor= "let four of frs" [ngValue]="four">{{four.frNom}} 
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Categorie </label>
        <select class="form-control" formControlName = 'cat'>
          <option *ngFor= "let cate of cats" [ngValue]="cate">{{cate.catNom}}</option>
        </select>
      </div>
      <div class="text-center p-2">
        <button data-dismiss="modal" class="btn btn-success">Submit</button>
      </div>
    </form>
    <!-- <p *nfIf="mgs" class="text-danger">{{mgs}}</p> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<!-- details friend -->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detail produit</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='prodForm' (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Nom </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prodNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Quantité </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'quantite'>
        </div>
      </div>
      <div class="form-group">
        <label>prix d'achat </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prixachat'>
        </div>
      </div>
      <div class="form-group">
        <label>prix de vente </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prixvente'>
        </div>
      </div>
      <div class="form-group">
        <label>Fournisseur </label>
        <select *ngFor= "let four of frs" class="form-control" formControlName = 'fr' >
          <option [ngValue] = 'four'>{{four.frNom}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Categorie </label>
        <select class="form-control" formControlName = 'cat' *ngFor= "let cate of cats">
          <option [ngValue] = 'cate'>{{cate.catNom}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- edit friend -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editer produit</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='prodForm' (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Nom </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prodNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Quantité </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'quantite'>
        </div>
      </div>
      <div class="form-group">
        <label>prix d'achat </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prixachat'>
        </div>
      </div>
      <div class="form-group">
        <label>prix de vente </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'prixvente'>
        </div>
      </div>
      <div class="text-center p-2">
        <button data-dismiss="modal" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- delete modal -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suppression produit</h4>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <button data-dismiss="modal" class="btn btn-info" (click)="deleteCategorie()">Confirmer</button>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
  </div>
</ng-template>




