<div class="container height-100 d-flex flex-row justify-content-center align-items-center">
  <div class="card m-5 shadow p-3 mb-5 bg-white rounded" (click)=redirection()>
      <div class="clip-path">
          <h2>APPROVISIONNEMENT</h2>
      </div>
      <div class="content text-center">
          <p>Voir tous les approvisionnements</p>
      </div>
  </div>
  <div class="card m-5 shadow p-3 mb-5 bg-white rounded" (click)=redirection1()>
    <div class="clip-path">
        <h2>VENTES</h2>
    </div>
    <div class="content text-center">
        <p>Voir toutes les ventes</p> <a></a>
    </div>
</div>
</div>