<div class="wrapper d-flex">
  <div class="sidebar">
    <h2 style="text-align: center;"> Dashboard</h2>
    <ul>
      <li routerLink= 'general' routerLinkActive = 'active'>
        <i class="fa fa-home"></i> Accueil
      </li>
      <li routerLink= 'administrateur' routerLinkActive = 'active'>
        <i class="fa fa-users"></i>  Administrateurs
      </li>
      <li routerLink= 'gestionnaire' routerLinkActive = 'active'>
        <i class="fa fa-address-book">
        </i> Gestionnaires
        
      </li>
      <li routerLink= 'vendeur' routerLinkActive = 'active'>
          <i class="fa fa-address-card"></i>
          Vendeurs
      </li>
    </ul>
    <p class="myproject px-3">ACTIVITES</p>
    <ul>
      <li routerLink= 'approvisionnement' routerLinkActive = 'active'> <i class="fa fa-truck"></i>Approvisionnement</li>
      <!-- commande/fournisseur -->
      <li routerLink= 'vente' routerLinkActive = 'active'><i class="fa fa-shopping-cart"></i>Ventes</li>
    </ul>
  </div>
</div>
