<div class="container">
  <div class="border p-2">
    <button class="btn btn-md btn-outline-success" (click)="open(content)">
      <i class="fa fa-user"></i> ajouter un utilisateur</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Nom Complet</th>
      <th class="text-center">Login</th>
      <th class="text-center">Role</th>
      <th class="text-center">Statut</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="text-center"><span>{{user.userId}}</span></td>
      <td class="text-center"><span>{{user.userNom}}</span></td>
      <td class="text-center"><span>{{user.userLogin}}</span></td>
      <td class="text-center"><span>{{user.userRole}}</span></td>
      <td class="text-center"><span>{{user.userStatut}}</span></td>
      <td class="text-center">
        <button class="btn btn-sm btn-info m-1" (click)="openDetails(contentDetails, user)">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning m-1" (click)="openEdit(contentEdit, user)">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger m-1" (click)="openDelete(contentDelete, user)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- add new friend -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nouvel utilisateur</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='userForm' (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Nom complet</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'userNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Login</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'userLogin'>
        </div>
      </div>
      <div class="form-group">
        <label>Role</label>
        <select class="form-control" formControlName = 'userRole'>
          <option>administrateur</option>
          <option>gestionnaire</option>
          <option>vendeur</option>
          </select>
      </div>
      <div class="text-center p-2">
        <button data-dismiss="modal" class="btn btn-success">Submit</button>
      </div>
    </form>
    <p *nfIf="mgs" class="text-danger">{{mgs}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<!-- details friend -->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detail utilisateur</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='userForm'>
      <div class="form-group">
        <label>Nom complet</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'userNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Login</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'userLogin'>
        </div>
      </div>
      <div class="form-group">
        <label>Role</label>
        <select class="form-control" formControlName = 'userRole'>
          <option>administrateur</option>
          <option>gestionnaire</option>
          <option>vendeur</option>
          </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- edit friend -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editer utilisateur</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='userForm' (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Nom complet</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'userNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Login</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'userLogin'>
        </div>
      </div>
      <div class="form-group">
        <label>Role</label>
        <select class="form-control" formControlName = 'userRole'>
          <option>administrateur</option>
          <option>gestionnaire</option>
          <option>vendeur</option>
          </select>
      </div>
      <div class="text-center p-2">
        <button data-dismiss="modal" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- delete modal -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suppression utilisateur</h4>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <button data-dismiss="modal" class="btn btn-info" (click)="deleteUser()">Confirmer</button>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
  </div>
</ng-template>

