<div class="container">
  <div class="border p-2">
    <button class="btn btn-md btn-outline-success" (click)="open(content)">
      <i class="fa fa-user"></i> ajouter un Fournisseur</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Nom </th>
      <th class="text-center">Prénom</th>
      <th class="text-center">Téléphone</th>
      <th class="text-center">Email</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let four of frs">
      <td class="text-center"><span>{{four.frId}}</span></td>
      <td class="text-center"><span>{{four.frNom}}</span></td>
      <td class="text-center"><span>{{four.frPrenom}}</span></td>
      <td class="text-center"><span>{{four.frTel}}</span></td>
      <td class="text-center"><span>{{four.email}}</span></td>
      <td class="text-center">
        <button class="btn btn-sm btn-info m-1" (click)="openDetails(contentDetails, four)">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning m-1" (click)="openEdit(contentEdit, four)">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger m-1" (click)="openDelete(contentDelete, four)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- add new friend -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nouveau Fournisseur</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='frForm' (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Nom </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Prénom</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frPrenom'>
        </div>
      </div>
      <div class="form-group">
        <label>Téléphone</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frTel'>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'email'>
        </div>
      </div>
      <div class="text-center p-2">
        <button data-dismiss="modal" class="btn btn-success">Submit</button>
      </div>
    </form>
    <p *nfIf="mgs" class="text-danger">{{mgs}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<!-- details friend -->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detail fournisseur</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='frForm'>
      <div class="form-group">
        <label>Nom </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Prénom</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frPrenom'>
        </div>
      </div>
      <div class="form-group">
        <label>Téléphone</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frTel'>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'email'>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- edit friend -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editer fournisseur</h4>
  </div>
  <div class="modal-body">
    <form #f="ngForm" [formGroup]='frForm' (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Nom </label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frNom'>
        </div>
      </div>
      <div class="form-group">
        <label>Prénom</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frPrenom'>
        </div>
      </div>
      <div class="form-group">
        <label>Téléphone</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'frTel'>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <input class="form-control" formControlName = 'email'>
        </div>
      </div>
      <div class="text-center p-2">
        <button data-dismiss="modal" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<!-- delete modal -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suppression fournisseur</h4>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <button data-dismiss="modal" class="btn btn-info" (click)="deleteFournisseur()">Confirmer</button>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
  </div>
</ng-template>


